<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <p>Category: <%= product.category.name %>
  <p>Price: <%= product.price %>
  <p>Description: <%= product.description %>
  <% if product.image.present? %>
    <p><%= image_tag  product.image.thumbnail.url %></p>
  <% end %>
<% end %>