<h3><%= @product.name %></h3>
<p>Category: <%= link_to @product.category.name, @product.category %>
  <p>Price: <%= number_to_currency @product.price %>
  <p>Description: <%= @product.description %>
  <% if @product.image.present? %>
    <p><%= image_tag  @product.image.medium.url %></p>
  <% end %>